:root {
	--background: rgba(240, 240, 240, 1);
	--success: rgba(17, 170, 102, 1.0);
	--error: rgba(245, 34, 7,1.0);
	--warning: rgba(253, 189, 12,1.0);
	--info: rgba(18, 150, 219,1.0);
}

.notifications :where(.toast, .column) {
	display: flex;
	align-items: center;
}

.notifications {
	position: fixed;
	top: 30px;
	right: 20px;
}

.notifications .toast {
	width: 400px;
	list-style: none;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	padding: 16px 17px;
	margin-bottom: 10px;
	background-color: var(--background);
	justify-content: space-between;
	animation: show_toast 0.3s forwards;
}

@keyframes show_toast {
	0% {
		transform: translateX(100%);
	}

	40% {
		transform: translateX(-5%);
	}

	80% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-10px);
	}
}

.toast.hide {
	animation: hide_toast 0.3s forwards;
}

@keyframes hide_toast {
	0% {
		transform: translateX(-10%);
	}

	40% {
		transform: translateX(0%);
	}

	80% {
		transform: translateX(-5%);
	}

	100% {
		transform: translateX(calc(100% + 20px));
	}
}

.toast .column span {
	font-size: 1.07rem;
	margin-left: 12px;
}

.toast::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	animation: progress 5s linear forwards;
}

@keyframes progress {
	100% {
		width: 0;
	}
}

.toast.success::before, .btn#success {
	background-color: var(--success);
}

.toast.error::before, .btn#error {
	background-color: var(--error);
}

.toast.warning::before, .btn#warning {
	background-color: var(--warning);
}

.toast.info::before, .btn#info {
	background-color: var(--info);
}